
div {
}

#cityBlock{
	background:lightBlue;
	border: 20px;
	margin: 5px;

}


#button {
	float:right;
}

#name {
		font-size: 16px;
		font-weight:bold;
}
	

#tempConvert{
	padding: 5px;
	border:none;
	background:none;
	display:block;
}

#tempConvert:hover {
	text-decoration:underline;
}

#rmel{
	cursor: pointer;
	float:right;
	display:inline-block;
	padding:2px 5px;

}

#weatherIcon{
	float:left;
}


::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: pink;
}
::-moz-placeholder { /* Firefox 19+ */
  color: pink;
}
:-ms-input-placeholder { /* IE 10+ */
  color: pink;
}
:-moz-placeholder { /* Firefox 18- */
  color: pink;
}